body {
  font-family: Arial, sans-serif;
  padding:30px;
  background-color: #f4f4f4;
  justify-content: center;
}

.container {
  display: flex;
  gap: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 95%;
  height: 500px;
  align-items:flex-start;
 
 
}


.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.image-area {
  position: relative;
}

.image-area img {
  width: 300px;
  display: block;
  border: 1px solid #ccc;
}

/* Dashed selection box */
.crop-box {
  position: absolute;
 top: 80px; left: 60px; width: 90px; height: 120px;
  border: 2px dashed black;
  pointer-events: none;
}



.thumbnail-preview {
  margin-top: 15px;
  text-align: left;
}

.thumb-box {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 1px solid #333;
  display: inline-block;
  position: relative;
}

.thumb-box img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  pointer-events: none;
}







.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="number"] {
  width: 140px;
  padding: 5px;
  font-size: 14px;
}



button {
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #e6e6e6;
}

button:hover {
  background-color: #d3d3d3;
}

.submit-btn {
  margin-top: 5px;
}


